/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Page background and base font */
body {
    background-color: bisque;
    margin: 0 10%;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Main heading */
h1 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

/* Section headings */
h2 {
    color: #d1633c;
    font-size: 1em;
    font-weight: 600;
}

/* Centered heading */
h3 {
    text-align: center;
}

/* Footer styles */
footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;
}

/* Footer icons */
footer img {
    width: 40px;
    height: 40px;
    margin: 0 .5em;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #5a3e2b;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}
